<div ng-controller="BrowseController">
	<ul class="breadcrumb">
		<li ng-if=" ! currentElement" class="active">Корень сайта</li>
		<li ng-if="currentElement"><a ui-sref="base.browse">Корень сайта</a></li>
		<li ng-if="parentList.length" ng-repeat="parent in parentList"><a ui-sref="base.browseElement({classId: parent.classId})">{{parent.mainProperty}}</a></li>
		<li ng-if="currentElement" class="active">{{currentElement.mainProperty}}</li>
	</ul>
	<p class="controls">
		<button ng-click="up()" type="button" class="btn btn-default" ng-disabled=" ! currentElement"><span class="halflings halflings-triangle-top"></span> Наверх</button>
		<button ng-click="edit()" type="button" class="btn btn-default" ng-disabled=" ! currentElement"><span class="halflings halflings-pencil"></span> Редактировать</button>
		<button type="button" class="btn btn-default"><span class="halflings halflings-floppy-disk"></span> Сохранить</button>
		<button type="button" class="btn btn-default"><span class="halflings halflings-duplicate"></span> Копировать</button>
		<button type="button" class="btn btn-default"><span class="halflings halflings-arrow-right"></span> Переместить</button>
		<button type="button" class="btn btn-warning"><span class="halflings halflings-trash"></span> Удалить</button>
	</p>
	<p ng-show="bindItemList.length">Добавить: <span ng-repeat="bindItem in bindItemList"><a ui-sref="base.addElement({class: bindItem.nameId})">{{bindItem.title}}</a><span ng-show="{{ ! $last}}">, </span></span></p>
	<div ng-repeat="elementListView in elementListViewList">
		<table class="element-list-header">
			<tbody>
				<tr>
					<td nowrap><span class="h2 hand dashed">{{elementListView.item.title}}</span></td>
					<td nowrap>
						<div class="order-link"><img src="/packages/lemon-tree/admin/img/order.gif" alt="" /> <a href><span ng-show="elementListView.lastPage > 1">страница {{elementListView.currentPage}} из {{elementListView.lastPage}}; </span>всего {{elementListView.total}} {{Helper.selectCaseForNumber(elementListView.total, ['элемент', 'элемента', 'элементов'])}}</a></div>
					</td>
					<td width="90%"></td>
					<td nowrap>
						<a ui-sref="base.search">Поиск элементов</a>
					</td>
				</tr>
			</tbody>
		</table>
		<table class="element-list table-striped table-hover table-responsive">
			<thead>
				<th class="first"><img src="/packages/lemon-tree/admin/img/default-sorting-inactive.gif" alt="" /></th>
				<th ng-repeat="property in elementListView.itemPropertyList">{{property.title}}</th>
				<th class="last"><input type="checkbox"></th>
			</thead>
			<tbody>
				<tr ng-repeat="element in elementListView.elementList">
					<td class="first"><a ui-sref="base.browseElement({classId: element.classId})"><span class="halflings halflings-menu-right"></span></a></td>
					<td ng-repeat="property in element.propertyList">
						<property type="property.class" mode="list" view="property.listView"></property>
					</td>
					<td class="last"><input type="checkbox"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-if="plugin" ng-include src="plugin" class="plugin"></div>
	<p ng-show="empty">
		В данном разделе элементы отсутствуют.<br />
		<span ng-show="currentElement">Вы можете <a ui-sref="base.editElement({classId: currentElement.classId})">редактировать</a> этот элемент.</span>
	</p>
</div>