<div ng-if="view.readonly">
	<label for="{{view.name}}" id="{{view.name}}">{{view.title}}:</label>
	<span ng-if="view.value"><a ui-sref="base.editElement({classId: view.value.classId})">{{view.value.value}}</a></span>
	<span ng-if=" ! view.value">Не определено</span>
</div>
<div ng-if=" ! view.readonly">
	<label for="{{view.name}}" id="{{view.name}}">{{view.title}}:</label>
	<span ng-if="view.value"><a ui-sref="base.editElement({classId: view.value.classId})">{{view.value.value}}</a></span>
	<span ng-if=" ! view.value">Не определено</span>
	<input ng-model="view.value" type="text" class="form-control one" placeholder="Введите ID или название" ng-options="element as element.value for element in getList($viewValue)" data-animation="am-fade" data-min-length="0" data-limit="10" bs-typeahead>
	<span ng-click="view.value = null" class="dashed hand">Очистить</span>
	<span name="{{view.name}}" label="{{view.title}}" class="error"></span>
</div>