<div class="search-date">
	<span class="glyphicons glyphicons-calendar"></span> <span ng-click="toggle(view.name)" class="dashed hand">{{view.title}}</span>:
	<div name="{{view.name}}" style="display: {{view.open ? 'block' : 'none'}}">
		от <input ng-model="view.from" type="text" class="form-control" date-format="dd.MM.yyyy" model-date-format="yyyy-MM-dd" date-type="string" autoclose="1" start-week="1" placement="top-left" bs-datepicker>
		до <input ng-model="view.to" type="text" class="form-control" date-format="dd.MM.yyyy" model-date-format="yyyy-MM-dd" date-type="string" autoclose="1" start-week="1" placement="top-right" bs-datepicker>
	</div>
</div>